* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Slate300);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}
.container {
    background-color: var(--White);
    width: 320px;
    height: 499px;
    margin: 10% auto;
    border-radius: 20px;
}
.qr-image {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    margin: 16px 16.40px 24px;
}
.title {
    font-size: 20px;
    width: 256px;
    height: 52px;
    font-weight: 700;
    margin: auto;
    color: var(--Slate900);
    margin-bottom: 16px;
}
.instruction {
    font-size: 15px;
    width: 256px;
    height: 63px;
    font-weight: 400;
    margin: auto;
    color: var(--Slate500);
}
.description {
    text-align: center;
    padding: 0 16px; 
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
}